.side-menu__item{
  cursor: pointer;
}


/* 
.bFyntL {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  max-width: 100%;
  min-width: auto !important;
} */ 

.ghvCbP svg{
  display: none !important;
  
}

.maintable .ioFJer {
  width: 100% !important;
    overflow: scroll !important;
    /* min-width: 135% !important; */
  }

  .iWyFZZ div:first-child {
    /* white-space: normal !important;
    overflow: hidden;
    text-overflow: ellipsis; */
    white-space: nowrap !important;
    overflow: inherit !important;
    text-overflow: ellipsis;
}

